#root {
  max-width: 100%;
  margin: auto auto;
  padding: 0;
  text-align: center;
  height: 100%;
  color: aliceblue
}

body {
  background-attachment: fixed;
  background-color: #000000;
  background-image: linear-gradient(to bottom right,#000000, rgba(43, 43, 43, 0.527), rgba(71, 71, 71, 0.548), rgba(55, 59, 55, .527), #080808), url("./assets/background.svg");
}

.fixedBox {
  max-width: 400px;
  min-width: 400px;
}

.wideFixedBox {
  max-width: 800px;
  min-width: 800px;
}

.coolBoxRed {
  background-color: rgb(0, 0, 0);
  background-Image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.75), rgba(56, 0, 0, 0.5), #000a00);
  border: 1px solid aliceblue;
  color: aliceblue;
  float: left;
  box-shadow: 3px 3px 3px grey;
  margin: 1%;
  border-radius: 2.5%; 
}

.filmContainerList {
  padding: 15px 12px;
  height: var;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  min-width: 100%;
}


.expandable p {
  margin: 0px;
  padding: 0px;
}

.expandable {
  margin: 5px;
  padding: 0px;
}

nav {
  align-self: flex-start;
  display: flex;
}

.basePage {
  flex: auto;
  flex-direction: column;
  height: 100%;
  float: top;
  display: flex;
  align-items: center;
}

.filmDetail-container {
  color: aliceblue;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.film-title {
  font-size: 2em;
  color: aliceblue;
  margin: 0 0 10px 0;
}

.film-details {
  margin-bottom: 20px;
}

.film-details span {
  display: inline-block;
  margin-right: 10px;
}

.film-description {
  margin: 20px 0;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
}

.cast-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.cast-list Link {
  background-color: #444;
  width:50%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.special-features {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.special-features li {
  background-color: #555;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

nav {
  width: 50%;
}

.navButton {
  background-color: rgb(0, 0, 0);
  background-Image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.75), rgba(56, 0, 0, 0.5), #000a00);
  border: 1px solid aliceblue;
  color: aliceblue;
  float: left;
  width: 20%;
  box-shadow: 3px 3px 3px grey;
  margin: 1%;
  border-radius: 2.5%; 
}

.navButton a {
  color: aliceblue;
}

.instanceList {
  align-content: center;
  width: 100%
}

.searchBar {
  height: auto;
  margin: auto;
  padding: 10px;
  border-radius: 5%;
  width:50%;
  
}
.searchBar input {
  font-size: 2em;
  background-color: aliceblue;
  width: 70%;
}
.top{
  display: flex;
  flex-direction: column;
}

.instanceContainerList {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}

.deleteButton {
  padding: 10px;
  background-Image: linear-gradient(to bottom right, rgba(73, 73, 73, 0.75), rgba(102, 102, 102, 0.5), #000a00);
  border-radius: 5%;
}

.formLink {
  padding: auto;
  width: 200px;
  align-self: center;
  background-Image: linear-gradient(to bottom right, rgba(50, 158, 0, 0.75), rgba(56, 0, 0, 0.5), #000a00);
}

button {
  align-self: center;
  align-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 80%;
}

form p {
  color: red;
}

.coolBoxGreen {
  background-color: rgb(0, 0, 0);
  background-Image: linear-gradient(to bottom right, rgba(24, 145, 0, 0.795), rgb(0, 31, 8), #000a00);
  border: 1px solid aliceblue;
  color: aliceblue;
  float: left;
  box-shadow: 3px 3px 3px grey;
  margin: 1%;
  border-radius: 2.5%; 
}